{% extends "base.html" %}
{% block 'header' %}
{% include "navbar.html" %}
{% endblock %}
{% block 'main' %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://cdn.pixabay.com/photo/2017/08/07/19/06/pencils-2606844_960_720.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Bienvenide.</h1>
                <p>Participe en rifas únicas con premios increíbles y cree sus propios eventos con sus propias reglas. Una experencia segura y grata tanto para les creadores como para les usuarios.</p>
                <p><a class="btn btn-lg btn-primary" href="{% url 'signup' %}" role="button">¡Regístrate! :D</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpfXgafUoTJp-Y7xrPLP9Ze6mdIpUSLUBlng&usqp=CAU" alt="Generic placeholder image" width="140" height="140">
            <h2>Organizador </h2>
            <p>Vuélvete el crupier de tu propio evento. Lleva el control de tus rifas y establece las reglas y condiciones que mejor se ajusten a tus necesidades.</p>
            <p><a class="btn btn-secondary" href="{% url 'create-raffle' %}" role="button"> ¡Crea un nuevo evento! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2021/08/11/16/06/mountain-6538890_960_720.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Usuario</h2>
            <p>Participa en rifas con causas significativas y no desperdicies la oportunidad de ganar increíbles premios. </p>
            <p><a class="btn btn-secondary" href="#" role="button"> ¡Reclama tu premio! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2016/09/01/19/13/confetti-1637197_960_720.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Descubre</h2>
            <p>Encuentra nuevas rifas disponibles y entérate de sus causas, premios y más.</p>
            <p><a class="btn btn-secondary" href="#" role="button">¡Explora! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Creadores. <span class="text-muted"> ¿Quiénes somos?</span></h2>
            <p class="lead">
              Somos un grupo de tres estudiantes que sabemos lo mucho que se tienden a realizar rifas con el fin de recaudar fondos para diversos objetivos. Sabemos es importante mantener la información de dichos eventos clara, transparente y bajo control, por lo que desarrollamos una aplicación que ofrece justamente eso, y de manera personalizada.
             </p>
          </div>
          <div class="col-md-5">
          </div>
        </div>

        <hr class="featurette-divider">


        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
{% endblock %}
